# Environment variables for the application

# PostgreSQL database connection URL
DATABASE_URL="postgresql://user:password@host:6767/database_name"
# Owner Phone Number (numbers only)
OWNER_PHONE_NUMBER="1234567890"
# Set to true if only the owner can use the bot, false allows anyone to use it
OWNER_ONLY=true